.navbar-brand img {
    width: 40px;
    height: 40px;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

body {
    background-image: url("../Images/pozadie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container h1 {
    color: black;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#kont {
    border-radius: 15px 50px;
    background: goldenrod;
    width: 10%;
    height: 20%;
    text-align: center;
    margin-top: 10%;
}

.container2 h1 {
    text-align: center;
}

#nazov_recenzia2 {
    text-align: center;
    font-family: Bahnschrift, serif;
}

.cont {
    text-align: center;
    vertical-align: middle;
    margin-top: 5%;
    margin-bottom: 5%;
}

.popis {
    text-align: center;
    background-color: goldenrod;
}

.table-R {
    background-color: goldenrod;
    text-align: center;
}
#nazov_recenzia1 {
    text-align: center;
    font-family: Bahnschrift, serif;
}

#oknoR {
    background-color: goldenrod;
}
#buttonNavbar {
    position: absolute;
    top: 8px;
    right: 16px;
}
#prihlasovaciFormular {
    position: absolute;
    top: 10%;
    width: 30%;
    margin-left:10%;
    margin-bottom:40%;
    margin-top: 10%;
    background-color: goldenrod;
}
#nazov_Prihlasenie {
    margin-bottom: 30%;
    margin-left:40%;
    margin-top: 10%;
    text-align: left;
    font-family: Bahnschrift, serif;
}
#oknoReg {
    background-color: goldenrod;
    width: 80%;
    margin-left: 15%;
}
#OsobneUdaje {
    text-align: center;
    margin-top: 2%;
}

#nazov_pouzivatelia {
    text-align: center;
    font-family: Bahnschrift, serif;
    margin-top: 5%;
}

#xxx {
    border: 15px solid gray;

}

#tabulka {
    margin-top: 10%;
}

div.gallery {
    border: 1px solid #ccc;
}


div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


